[Desktop Entry]
Encoding=UTF-8
Name=Florgon Gatey Widget
Comment=Logging service for developers
Icon=internet-services
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=stepanzubkov
X-KDE-PluginInfo-Email=zubkovbackend@gmail.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=space.florgon.gatey
X-KDE-PluginInfo-Version=1.2.0
X-KDE-PluginInfo-Website=gatey.florgon.space
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Development Tools

Name[nl]=Florgon Gatey-widget
Name[ru]=Florgon Gatey Виджет
Comment[nl]=Logboekdienst voor ontwikkelaars
Comment[ru]=Сервис логирования для разработчиков
